@model AHNet.Web.Areas.Admin.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<form method="post" asp-controller="Account" asp-action="Login" asp-route-area="Admin" asp-route-returnurl="@Model.ReturnUrl">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Username"></label>
        <input asp-for="Username">
    </div>
    <div>
    <span asp-validation-for="Username"></span>
    </div>
    <div>
        <label asp-for="Password"></label>
        <input asp-for="Password">
    </div>
    <div>
    <span asp-validation-for="Password"></span>
    </div>
    <div>
        <label asp-for="RememberMe"></label>
        <input asp-for="RememberMe">
    </div>
    <div>
    <span asp-validation-for="RememberMe"></span>
    </div>
    <input type="submit" value="Login">
</form>