@model IEnumerable<AHNet.Web.Core.Entities.BlogPost>

<a asp-controller="Admin" asp-action="CreateBlogPost">Create blog post</a>

<ul>
    @foreach (var item in Model)
    {
        <li>@item.Title</li>
    }
</ul>