@model Sakura.AspNetCore.IPagedList<BlogPost>

<a asp-controller="Admin" asp-action="CreateBlogPost">Create blog post</a>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <a asp-controller="Admin" asp-action="EditBlogPost" asp-route-name="@item.UrlTitle">
                @item.Title - @item.DatePublished.ToFormattedString()
            </a>
        </li>
    }
</ul>

<pager/>