@model AHNet.Web.Features.Admin.Admin.ViewModels.CreateBlogPostViewModel

@{
    ViewBag.Title = "create blog post";
}

<form asp-controller="Admin" asp-action="CreateBlogPost">

    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <div class="form-group">
        <label asp-for="Title" class="col-md-offset-2 col-md-10 control-label"></label>
        <div class="col-md-offset-2 col-md-10 control-label">
            <span asp-validation-for="Title" class="text-danger"></span>
            <input asp-for="Title" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label asp-for="DatePublished" class="col-md-offset-2 col-md-10 control-label"></label>
        <div class="col-md-offset-2 col-md-10 control-label">
            <span asp-validation-for="DatePublished" class="text-danger"></span>
            <input asp-for="DatePublished" type="date" class="form-control">
        </div>
    </div>

    <div class="form-group">
        <label asp-for="Body" class="col-md-offset-2 col-md-10 control-label"></label>
        <div class="col-md-offset-2 col-md-10 control-label">
            <span asp-validation-for="Body" class="text-danger"></span>
            <textarea asp-for="Body" type="text" class="form-control"></textarea>
        </div>
    </div>

    <div class="form-group">
        <label asp-for="IsPublished" class="col-md-offset-2 col-md-10 control-label"></label>
        <div class="col-md-offset-2 col-md-10 control-label">
            <span asp-validation-for="IsPublished" class="text-danger"></span>
            <input asp-for="IsPublished" type="checkbox" class="form-checkbox">
        </div>
    </div>

    <div class="form-group">
        <label asp-for="ContentTags" class="col-md-offset-2 col-md-10 control-label"></label>
        <div class="col-md-offset-2 col-md-10 control-label">
            <span asp-validation-for="ContentTags" class="text-danger"></span>
            @foreach (var tag in Model.ContentTags)
            {
                <input type="checkbox" name="ContentTags" value="@tag"> @tag
            }
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10 control-label">
            <input type="submit" value="Create" class="btn btn-default"/>
        </div>
    </div>

</form>

@section Scripts{
      <script src="@Url.Content("~/js/tinymce-configuration.js")"></script>
}