@model Sakura.AspNetCore.IPagedList<BlogPost>

<ul>
    @foreach (var item in Model)
    {
        <li>
            <a ahnet-blog-title="@item.UrlTitle">
                @item.Title - @item.DatePublished.ToFormattedString()
            </a>
        </li>
    }
</ul>

<pager/>

