@model AHNet.Web.Features.Blog.ViewModels.BlogPostContentViewModel


<h3 class="text-center">@Model.Title</h3>

@Html.Raw(Model.Body)


@section Scripts {
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
    </script>
}