@model AHNet.Web.Features.Blog.ViewModels.BlogIndexViewModel

<ul>
    @foreach (var item in Model.BlogPosts)
    {
        <li>
            <a ahnet-blog-title="@item.UrlTitle">
                @item.Title - @item.DatePublished.ToString("D")
            </a>
        </li>
    }
</ul>

@section Scripts {
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
    </script>
}
