body {
    background-color: #fff;
    padding-bottom: 20px;
    font-size: 20px;
}

input {
    max-width: 280px;
}

input, textarea {
    margin-bottom: 26px;
}

label {
    margin-bottom: 4px;
}

pre {
    border: 0;
    background-color: transparent;
}

a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    cursor: pointer;
}

.bottom-bar {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    border-top: #9d9d9d solid 1px;
}

.body-content {
    margin-top: 70px;
}

.navbar {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  height: 60px;
}

.navbar-collapse.in, .navbar-collapse.collapsing{
    background-color:#404040;
}

pre code {
    white-space: inherit;
    overflow-x: scroll;
}

.text-align-left {
    text-align: left;
}

#side-bar {
    padding: 0 15px 0 15px;
}

#side-bar-avatar {
    display:block;
    margin:auto;
    max-width: 100px;
    max-height: 100px;
}

.bottom-border {
    border-bottom: 1px solid #eceeef;
}

#recent-posts-list {
    list-style:none;
    padding-left:0;
    text-align: center;
}

.recent-posts-item {
    margin-bottom: 20px;
}

.blog-posts-list {
    margin-top: 10px;
}

.big-message {
    margin-top: 50px;
    margin-bottom: 50px;
}

.blog-post-preview-item {
    border: 1px solid #eceeef;
    border-radius: 3px;
    margin-bottom: 12px;
    padding: 20px;
}

.blog-post-preview-title {
    margin-top: 0;
    margin-bottom: 8px;
}

.blog-post-preview-info, .blog-post-info {
    margin-top: 0;
    margin-bottom: 15px;
}

.blog-post-preview-info, .blog-post-info,
.blog-post-preview-info a, .blog-post-info a{
    color: #808080;
}

.blog-post-preview-info p, .blog-post-info p {
    margin: 0;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.no-padding {
    padding: 0;
}

.form-checkbox {
    height: 30px;
    width: 30px;
    margin-bottom: 26px!important;
}

#blog-posts-header {
    margin-top: 20px;
    margin-bottom: 20px;
}

.social-button-list-items {
    margin-top: 10px;
}

.pagination > li > a, .pagination > li > span {
    color: #0085a1;
}

.recent-posts-item:hover .blog-post-preview-info,
 .recent-posts-item:active .blog-post-preview-info,
 .recent-posts-item:hover a,
 .recent-posts-item:active a,
 .blog-post-preview-info a:hover,
 .blog-post-preview-info a:active,
 .blog-post-info a:hover,
 .blog-post-info a:active {
    color: #0085a1!important;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
    background-color: #0085a1;
    border-color: #0085a1;
}

.side-bar-section-header {
    padding-bottom: 20px;
    padding-top: 20px;
    margin:0;
}

.label-tag {
    background-color: #404040;
}

.label-tag:active, .label-tag:hover {
    background-color: #0085a1; 
}

#Side-Bar-Search-Bar {
    padding-top: 20px;
}

#Side-Bar-Content-Tags {
    padding-bottom: 20px;
}

.no-padding {
    padding:0;
}

.list-inline-item-no-padding {
    display: inline-block;
    padding: 0!important;
}

.blog-post-preview-content a,
#Blog-Post-Content a {
    color: #0085a1;
}

@media only screen and (min-width : 480px) {
    #Blog-Post-Content {
        padding: 0px 0px 0px 0px;
    }
}

@media only screen and (min-width : 768px) {
    #Blog-Post-Content {
        padding: 0px 30px 0px 30px;
    }
}

@media only screen and (min-width : 992px) {
    #Blog-Post-Content {
        padding: 0px 30px 0px 30px;
    }
}

@media only screen and (min-width : 1200px) {
    #Blog-Post-Content {
        padding: 0px 30px 0px 30px;
    }
}

@font-face {
  font-family: "fontcustom";
  src: url("/css/fontcustom-docker/fontcustom_cb066050d5b786186aa0e7f121427d8b.eot");
  src: url("/css/fontcustom-docker/fontcustom_cb066050d5b786186aa0e7f121427d8b.eot?#iefix") format("embedded-opentype"),
       url("/css/fontcustom-docker/fontcustom_cb066050d5b786186aa0e7f121427d8b.woff") format("woff"),
       url("/css/fontcustom-docker/fontcustom_cb066050d5b786186aa0e7f121427d8b.ttf") format("truetype"),
       url("/css/fontcustom-docker/fontcustom_cb066050d5b786186aa0e7f121427d8b.svg#fontcustom") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "fontcustom";
    src: url("/css/fontcustom-docker/fontcustom_cb066050d5b786186aa0e7f121427d8b.svg#fontcustom") format("svg");
  }
}

[data-icon]:before { content: attr(data-icon); }

[data-icon]:before,
.fa-docker:before {
  display: inline-block;
  font-family: "fontcustom";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

.fa-docker:before { content: "\f100"; }