body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

input {
    max-width: 280px;
    margin-top: 8px;
}

label {
    margin-top: 8px;
}

pre {
    border: 0; 
    background-color: transparent;
}

footer {
    text-align: center;
    padding-top: 20px;
    border-top: #000000 solid 1px;
}

body::after {
    background-color: rebeccapurple
}
