body {
    padding-bottom: 20px;
    font-size: 20px;
}

input {
    max-width: 280px;
}

input, textarea {
    margin-bottom: 26px;
}

label {
    margin-bottom: 4px;
}

pre {
    border: 0;
    background-color: transparent;
}

.bottom-bar {
    text-align: center;
    padding-top: 20px;
    margin-top: 20px;
    border-top: #000000 solid 1px;
}

.top-header {
    margin-bottom: 70px;
}

.navbar {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 100;
  height: 60px;
}

.navbar-collapse.in, .navbar-collapse.collapsing{
    background-color:#404040;
}

pre code {
    white-space: inherit;
    overflow-x: scroll;
}

.text-align-left {
    text-align: left;
}

#side-bar {
    padding: 0 15px 0 15px;
}

#side-bar-avatar {
    display:block;
    margin:auto;
    max-width: 100px;
    max-height: 100px;
}

.side-bar-section {
    border-bottom: 1px solid #eceeef;
}

#recent-posts-list {
    list-style:none;
    padding-left:0;
    text-align: center;
}

.recent-posts-item {
    margin-top: 5px;
}

.big-message {
    margin-top: 50px;
    margin-bottom: 50px;
}

.blog-post-preview-item {
    border: 1px solid #eceeef;
    border-radius: 3px;
    margin-bottom: 12px;
    padding: 20px;
}

.blog-post-preview-title {
    margin-top: 0;
    margin-bottom: 8px;
}

.blog-post-preview-info {
    margin-top: 0;
    margin-bottom: 15px;
}

p {
    margin-top: 15px;
    margin-bottom: 15px;
}

.no-padding {
    padding: 0;
}

.form-checkbox {
    height: 30px;
    width: 30px;
    margin-bottom: 26px!important;
}

#blog-posts-header {
    margin-top: 20px;
    margin-bottom: 20px;
}