<div class="navbar navbar-inverse navbar-fixed-top" style="background-color:#404040; background-color:rgba(0,0,0,0.8);">
	<div class="container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
			<a asp-controller="home" asp-action="index" class="navbar-brand">
                adamhilton.net
            </a>
		</div>
		<div class="navbar-collapse collapse">
			<ul class="nav navbar-nav navbar-right">
				<li class="navbar-link"><a asp-controller="blog" asp-action="index">blog</a></li>
			</ul>
		</div>
	</div>
</div>