@model AHNet.Web.Features.Shared.ViewModels.BlogPostsRequestViewModel

<div id="side-bar">

    <div class="row">
        <div class="col-xs-12 bottom-border">
            <div class="col-xs-12">
                <img src="~/images/android-me.png" alt="android-me-picture" id="side-bar-avatar"/>
            </div>
            <div class="col-xs-12">
                <div class="text-center">
                    <strong>adam hilton</strong>
                </div>
                <div class="text-center">
                    <small>software developer</small>
                </div>
            </div>
            <div class="col-xs-12 no-padding">
                @Html.Partial("_SocialButtons.cshtml")
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 bottom-border">

            <div class="row" id="Side-Bar-Search-Bar">
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-0 col-md-12">
                    <form asp-controller="blog" asp-action="index" method="get">
                        <input asp-for="q" type="search" class="form-control" placeholder="Search for...">
                    </form>
                </div>
            </div>

            <div class="row" id="Side-Bar-Content-Tags">
                <div class="col-xs-offset-1 col-xs-10 col-sm-offset-3 col-sm-6 col-md-offset-0 col-md-12">
                    @await Component.InvokeAsync("ContentTags")
                </div>
            </div>
            
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <h4 class="text-center side-bar-section-header">
                recent posts
            </h4>
            <div class="text-center">
                @await Component.InvokeAsync("RecentBlogPosts")
            </div>
        </div>
    </div>
</div>