<ul class="list-inline text-center social-button-list-items">
    <li class="list-inline-item-no-padding">
        <a href="https://twitter.com/felsig_" title="twitter" target="_blank">
            <span class="fa fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    <li class="list-inline-item-no-padding">
        <a href="https://www.linkedin.com/in/adam-hilton-26848493" title="linkedin" target="_blank">
            <span class="fa fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    <li class="list-inline-item-no-padding">
        <a href="https://github.com/Felsig" title="github" target="_blank">
            <span class="fa fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-github fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
    <li class="list-inline-item-no-padding">
        <a href="https://hub.docker.com/r/adamhilton/" title="docker" target="_blank">
            <span class="fa fa-stack">
                <i class="fa fa-circle fa-stack-2x"></i>
                <i class="fa fa-docker fa-stack-1x fa-inverse"></i>
            </span>
        </a>
    </li>
</ul>